html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    }
    h1 {
    margin: 20px 0 0 20px;
    font-weight: 400;
    color:#fff ;
    }
    .left-part p{
        font-size: 2rem;
    }
    .left-part{
        margin-left: 20px;
        color: #fff;
    }
    p {
    margin: 0 0 5px;
    }
    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9E2A2B;
    }
    form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5; 
    background: #f5f5f5; 
    border-radius: 8px;
    outline: none;
    color: #540B0E;
    }
    .fas {
    margin: 25px 10px 0;
    font-size: 72px;
    color: #fff;
    }
    .fa-envelope {
    transform: rotate(-20deg);
    }
    .fa-at , .fa-mail-bulk{
    transform: rotate(10deg);
    }
    input, textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #672427
    }
    input::placeholder {
    color: #672427;
    }
    a{
        text-decoration: none;
        color:#672427 ;
    }
    button {
    width: 50%;
    padding: 10px;
    border: none; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #540B0E;
    border-radius: 8px;
    margin-left: 25%;
    margin-bottom: 10px;
    margin-top: 20px;
    }
    .no-acc{
        width: 50%;
        margin-left: 25%;
        color: #111111;;
    }
    button:hover {
    background: #565656;
    }    
    @media (min-width: 568px) {
    .main-block {
    flex-direction: row;
    }
    .left-part, form {
    width: 50%;
    margin-left: 40px;
    }
    h1 {
        margin: 20px 0 0 20px;
        font-weight: 400;
        font-size: 2rem;
        color:#fff ;
        position: absolute;
        top:0;
        right: 25%;
        }
    .fa-envelope {
    margin-top: 0;
    margin-left: 20%;
    }
    .fa-at {
    margin-top: -10%;
    margin-left: 65%;
    }
    .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
    }
    }