* {
    box-sizing: border-box;
    }
    html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px; 
    color: #540B0E;
    }
    input, textarea { 
    outline: none;
    }
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #9E2A2B;
    }
    h1 {
    margin-top: 0;
    font-weight: 500;
    text-align: center;
    }
    form {
    position: relative;
    width: 80%;
    background: #fff;
    }
    form img{
        margin-top: 20px;
        margin-left: 38%;
    }
    .form-inner {
    padding: 40px;
    }
    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid #672427;
    }
    .form-inner textarea {
    resize: none;
    }
    @media (min-width: 568px) {
    form {
    width: 60%;
    }
    }