*,
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  margin: 0 auto;
  font-family: Open Sans;
  padding: 0.1rem 0;
}
header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
header > div {
  width: 100%;
  height: 100%;
  padding: 1rem 1.2rem;
  display: flex;
}
header > div > img {
  padding: 0 1rem;
}

header > div > .search-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  width: 420px;
  background: #ffffff;
}
header > div > .search-container > input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 30px;
  border: 0;
  padding-left: 1rem;
  outline: 0;
}

.body-container {
  width: 100%;
  height: 600px;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  z-index: -3;
}
.side-bar {
  position: fixed;
  background: #ffffff;
  border: 0.5px solid #540b0e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 300px;
  height: 600px;
  z-index: 4;
}

.side-bar > .file_lists {
  margin-left: -4rem;
}
.side-bar > .file_lists > .files {
  list-style: none;
}
.side-bar > .file_lists > .files:hover {
  background: #ae4e4e;
  opacity: 0.8;
  border-radius: 8px;
}

.side-bar > .file_lists > .files > a {
  margin: 1rem 0;
  font-size: 2rem;
  padding: 1.5rem 0;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #111111;
}

.side-bar > .file_lists > .files > a > img {
  padding-right: 2rem;
  padding-left: 1rem;
}
.main-bar {
  width: 75%;
  border: 1px solid black;
  border-radius: 16px;
  margin-left: 340px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
form {
  margin: 50px auto;
  width: 400px;
  font-family: Open Sans;
}
fieldset {
  border: 2px solid black;
  border-style: inset;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 30px 20px 22px;
}
fieldset > label {
  font-size: 1.9rem;
}
label > input {
  font-size: 1.7rem;
  width: 100%;
  line-height: 2rem;
}
label > textarea {
  font-size: 1.7rem;
  width: 100%;
}
.btn {
  height: 3rem;
  font-size: 1.7rem;
  width: 50%;
  margin: 0 auto;
  background: lightgreen;
  border-radius: 10px;
}
@media only screen and (max-width: 700px) {
  .header-logo {
    padding: 0.5rem 1rem;
    border-radius: 15px;
  }
  header > div > .search-container {
    margin: 3px auto;
    width: 300px;
  }
}
@media only screen and (max-width: 600px) {
  header > div > .search-container {
    display: none;
  }
  header > div > img:nth-of-type(3) {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 425px) {
  .header-logo {
    padding: 1rem 0.8rem;
  }
  header > div > img:nth-of-type(3) {
    margin-left: 0;
  }

  .side-bar {
    width: 300px;
    height: 550px;
  }
  .main-bar {
    margin-left: 0;
  }
  form {
    width: 98%;
  }
  h1 {
    font-size: 2rem;
  }
}
