*,
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  /* width: 1240px; */
  margin: 0 auto;
  /* border: 1px solid #335c67; */
  font-family: Open Sans;
  padding: 0.1rem 2rem 3rem;
}
header {
  /* position: fixed; */
  z-index: 1;
  width: 100%;
  /* border: 1px solid blue; */
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
header > div {
  width: 100%;
  /* border: 1px solid pink; */
  height: 100%;
  padding: 1rem 1.2rem;
  display: flex;
}
header > div > img {
  padding: 0 1rem;
}

header > div > .search-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;

  box-sizing: border-box;

  width: 423px;

  background: #ffffff;
}
header > div > .search-container > input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 30px;
  border: 0;
  padding-left: 1rem;
  outline: 0;
}

.body-container {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  z-index: -3;
  /* gap: 1rem; */
}
.side-bar {
  position: fixed;
  margin-left: 2rem;
  background: #ffffff;
  border: 0.5px solid #540b0e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 300px;
  height: 600px;
  /* z-index: -4; */
}
.hide {
  /* transition: all 2.5s; */
  /* opacity: 0; */
  display: none;
  /* width: 10px; */
}

.side-bar > .file_lists {
  margin-left: -4rem;
}
.side-bar > .file_lists > .files {
  list-style: none;
}
.side-bar > .file_lists > .files:hover {
  background: #ae4e4e;
  opacity: 0.8;
  border-radius: 8px;
}

.side-bar > .file_lists > .files > a {
  /* width: 100%; */
  /* border: 2px solid orange; */
  margin: 1rem 0;
  font-size: 2rem;
  padding: 1.5rem 0;

  text-decoration: none;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #111111;
}

.side-bar > .file_lists > .files > a > img {
  padding-right: 2rem;
  padding-left: 1rem;
}
.main-bar {
  width: 75%;
  border: 1px solid black;
  border-radius: 16px;
  margin-left: 340px;
}
.increase {
  width: 100%;
  margin-left: 0;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
form {
  margin: 50px auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  width: 400px;
  font-family: Open Sans;
}
fieldset {
  border: 3px solid black;
  border-style: inset;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 30px 20px 22px;
}
fieldset > label {
  font-size: 1.9rem;
}
label > input {
  font-size: 1.7rem;
  width: 100%;
  line-height: 2rem;
}
label > textarea {
  font-size: 1.7rem;
  width: 100%;
}
.btn {
  height: 3rem;
  font-size: 1.7rem;
  width: 50%;
  margin: 0 auto;
  background: lightgreen;
  border-radius: 10px;
}
