*,
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  margin: 0 auto;
  font-family: Open Sans;
  padding: 0.1rem 0rem;
  font-size: 1.6rem;
  color: #540b0e;
}

header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  border: 1px solid gray;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 16px 16px 0px 0px;
}

header > div {
  width: 100%;
  height: 100%;
  padding: 1rem 1.2rem;
  display: flex;
}

header > div > img {
  padding: 0 1rem;
}

header > div > .search-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  width: 420px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 30px;
}
header > div > .search-container > input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 30px;
  border: 0;
  padding-left: 1rem;
  outline: 0;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  gap: 25px;
  margin-left: 30px;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: #5ec576;
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: #4bbb7d;
  color: #333;
}

section {
  padding: 0 3rem;
}

.nav_topics {
  margin-top: 95px;
  margin-bottom: 35px;
  width: 100%;
}
.topic_lists {
  display: flex;
  justify-content: center;
  margin-left: -4rem;
}
.topics {
  padding: 1rem 0;
  list-style: none;
  border-radius: 6px 0;
  border: 1px solid gray;
  background-color: brown;
  margin: 0 3rem;
}

.topics > a {
  text-decoration: none;
  font-size: 2.2rem;
  width: 100%;
  color: white;
  padding: 1rem 2rem;
}
.topics:hover {
  background: #ffffff;
}
.topics > a:hover {
  color: gray;
}

.person {
  width: 100%;
  border-radius: 15px;
}
.person > img {
  width: 100%;
  border-radius: 15px;
  z-index: -1;
}
.overlay {
  max-width: 62%;
  position: absolute;
  right: 4rem;
  padding: 2rem 1.5rem;
  font-size: 2.1rem;
  display: flex;
  margin-top: -60px;
  z-index: 3;
  color: brown;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: justify;
}

.students {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.student {
  display: flex;
  font-size: 2rem;
  margin: 25px auto;
}
.reverse {
  flex-direction: row-reverse;
}

.student > .student-title {
  width: 50%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}
.student > .student-title > h1 {
  font-size: 4.1rem;
  margin-bottom: 5rem;
}
.student > .student-title > blockquote {
  font-size: 2.5rem;
  text-align: justify;
}
.student-image {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
}
.student > div > img {
  width: 100%;
}

.body-container {
  width: 100%;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -3;
}

.main-bar {
  border-top: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.main-bar > h1 {
  font-size: 3.5rem;
  width: 100%;
  margin: 20px 0 17px 25px;
  color: #540b0e;
}

.video {
  width: 350px;
  margin: 1rem 0.2rem;
  border: 1.5px solid gray;
  border-radius: 10px;
}

.player {
  border-radius: 10px;
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: none;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  cursor: pointer;
  max-width: 50px;
  font-size: 1.3rem;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  width: 10px;
  height: 30px;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player__controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 10%;
}

/* css to style input type="range" */

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

.player > img {
  width: 270px;
  height: 220px;
}

.video_title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: 700;
}
.video_title > .user_profile {
  margin-left: 1rem;
  margin-right: 1rem;
}

.video_title > .user_title > h3 {
  font-size: 1.8rem;
}
.video_title > .user_title > p {
  margin-top: 10px;
  font-size: 1.4rem;
}

.footer {
  padding: 7rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-left: -3rem;
}

.footer__item {
  margin-right: 3rem;
}

.footer__link {
  font-size: 1.7rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 15px;
}
.footer__logo:hover {
  background-color: #37383d;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
@media only screen and (max-width: 700px) {
  .header-logo {
    padding: 0.5rem 1rem;
    border-radius: 15px;
  }
  .overlay {
    font-size: 1.6rem;
  }
  .student > .student-title > h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .student > .student-title > blockquote {
    font-size: 1.7rem;
  }
  .topics > a {
    font-size: 1.6rem;

    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  header > div > .search-container {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .header-logo {
    padding: 1rem 1rem;
  }

  header > div > .search-container {
    display: none;
  }
  .overlay {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    line-height: 1.3rem;
    margin-top: -20px;
  }
  .body-container {
    margin-top: 75px;
  }
  .student {
    display: grid;
    grid-template-areas:
      "a a "
      "b b";
    margin-bottom: 0;
  }

  .student > .student-title {
    width: 80%;

    margin-right: auto;
    margin-left: auto;
  }
  .student > .student-title > h1 {
    grid-area: a;
  }
  .student-image {
    width: 85%;
    grid-area: a;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.2rem;
  }
  .student > .student-title > h1 {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
  }
  .student > .student-title > blockquote {
    font-size: 1.3rem;
  }
  .topics {
    padding: 0.5rem 0;

    list-style: none;

    margin: 0 0.3rem;
  }
  .topics > a {
    font-size: 1.2rem;

    padding: 0rem 1.3rem;
  }
  .main-bar > h1 {
    font-size: 1.8rem;
  }
  .video_title > .user_title > h3 {
    font-size: 1.6rem;
  }
  .video_title > .user_title > p {
    margin-top: 7px;
    font-size: 1.3rem;
  }
  .nav__links {
    gap: 12px;
    margin-left: 30px;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 1.3rem;
  }
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 1.5rem;
  }
  .footer__item {
    margin-right: 2rem;
  }

  .footer__link {
    font-size: 1.3rem;
  }
  .footer__logo {
    height: 4rem;
    margin-bottom: 2rem;
  }
  .footer {
    padding: 5.5em 1rem;
  }
  .footer__copyright {
    font-size: 1.3rem;
  }
}
