html,
body {
  box-sizing: border-box;
}
form {
  margin: 50px auto;
  border: 5px solid black;
  width: 400px;
  border: none;
}
h1,
p {
  text-align: center;
  font-family: Open sans;
}
fieldset {
  box-sizing: border-box;
  width: 100%;
  margin: 50px auto;
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 3rem;
  padding-left: 2rem;
  line-height: 1.7rem;
  border-radius: 1%;
  background-color: rgb(2, 124, 108);
  color: azure;
}
label {
  font-size: 25px;
}
.enter {
  font-size: 20px;
  width: 100%;
  height: 1.5rem;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}
#togglePassword {
  display: none;
}
.submit {
  display: block;
  margin: 10px auto;
  width: 70%;
  padding: 10px;
  font-size: 20px;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: azure;
}
.mid {
  width: 50%;
  font-size: 20px;
}
p {
  font-size: 20px;
}
a {
  color: wheat;
}
@media only screen and (max-width: 400px) {
  form {
    width: 100vw;
  }
  fieldset {
    box-sizing: border-box;
    width: 98%;
    margin: 50px auto;
    border: none;
    padding-top: 27px;
    padding-bottom: 27px;
    /* padding-right: 3rem;
    padding-left: 2rem; */
    line-height: 1.5rem;
  }
  label {
    font-size: 18px;
  }
  .enter {
    font-size: 16px;
    width: 100%;
    height: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  .submit {
    font-size: 17px;
  }
  .mid {
    width: 50%;
    font-size: 17px;
  }
  p {
    font-size: 16px;
  }
}
